doctype html
html
  head
    meta(charset='utf-8')

    // Scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src=path+'signal-ui.min.js')

    // Typekit
    script(src='//use.typekit.net/xsv6ecp.js')
    script try{Typekit.load();}catch(e){}

    link(rel='stylesheet' type='text/css' href=path+'SignalUI.css')
    link(rel='stylesheet' type='text/css' href=path+'main.css')

    block head

  body
    header 
      h1 
        a(href=path) Signal UI

    aside
      h4 Documentation
      ul
        a(href=path+'docs/implementation') 
          li Implementation
        a(href=path+'docs/API') 
          li Component API

      h4 Components

      h4 Styles
      ul
        each component in components
          a(href='javascript:void(0)') 
            li #{component.name}

      h4 Examples
      ul
        a(href=path+'examples/doc1') 
          li Document 1
        a(href=path+'examples/doc2') 
          li Document 2
        a(href=path+'examples/doc3') 
          li Document 3
      
    article
      block content
