//- include ../build/mixins/signalUI.jade

mixin signalUI(name, config)
  if name == 'form'
    form
      each field in config.fields
        - var id = generateId()

        .row
          label(for=id) #{field.label}

          if field.type == 'textarea'
            textarea(id=id name=field.name)
          else if field.type == 'select'
            select(id=id name=field.name)
          else if ['text', 'email', 'tel'].indexOf(field.type) !== -1
            input(id=id type=field.type name=field.name)

doctype html
html
  head
    meta(charset='utf-8')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/SignalUI.js')

    link(rel='stylesheet' type='text/css' href='/SignalUI.css')

    block head

  body
    header
      h1 Signal UI

    article
      block content
