extends ./_base

block head
  title Signal UI

block content
  each component in components
    h2(id=component.name.replace(/ /g, '-')) #{component.name}

    if component.description
      p #{component.description}

    if component.examples
      each example in component.examples
        .card
          if example.title
            h3 #{example.title}

          if example.html
            .example !{example.html}
            code #{example.html}
