extends ./_base

block head
  title Signal UI

block content
  each component in components
    h2 #{component.name}

    if component.description
      p #{component.description}

    if component.examples
      each example in component.examples
        .card
          if example.title
            h3 #{example.title}

          if example.html
            .example !{example.html}
            code #{example.html}
          else
            .SignalUI-tabs
              ol.tabs
                li Jade
                li Twig
                li Erb
              ol.content
                li
                  code.
                    != SignalUI('#{component.syntax}', #{JSON.stringify(example.config)});
                li
                li

            != signalUI(component.syntax, example.config)
