form
  each field in config.fields
    - var id = generateId();

    .row
      label(for=id) #{field.label}

      if field.type == 'textarea'
        textarea(id=id name=field.name)
      else if field.type == 'select'
        select(id=id name=field.name)
      else if ['text', 'email', 'tel'].indexOf(field.type) !== -1
        input(id=id type=field.type name=field.name)
